<div class="pagination-shared-component" *ngIf="totalPage">
    <button class="prev-btn" (click)="onClickSeekBtn('prev')">
        <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
        </svg>
    </button>

    <div *ngFor="let number of displayNumber;">
        <button class="number-btn + {{ (activeNumber === number) ? ' selected' : '' }}" (click)="onClickNumberBtn(number)">{{ number }}</button>
    </div>

    <button class="next-btn" (click)="onClickSeekBtn('next')">
        <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
        </svg>
    </button>
</div>
