<div class="customer-page-wraper">
    <div class="page-title">
        <svg class="bi bi-person-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
        </svg>
        <h2>Customers</h2>
    </div>

    <app-tool-bar-customer 
        [activeView] = "activeView"
        (onChangeViewMode)= "changeViewOption($event)" 
        (onAddCustomer)= "addCustomer()"
        (onKeyupInputFilter)= "recieveInputFilter($event)"
    ></app-tool-bar-customer>

    <app-view-data [viewMode]="activeView" [dataSet]="customerData"></app-view-data>

    <app-pagination 
        [activeNumber]="paginationActiveNumber" 
        [totalPage]="paginationTotalPage" 
        (onPageChange)="onClicPagination($event)"
    ></app-pagination>
</div>
