.customer-page-wraper {
    .page-title {
        display: flex;
        padding-top: 18px;
        align-items: self-end;
        margin-bottom: 30px;

        h2{
            font-size: 20px;
            margin-left: 4px;
            margin-bottom: 0px;
        }
    }//END OF .page-title
}